{
  "project_info": {
    "project_number": "123456789012",
    "project_id": "tu-proyecto-firebase",
    "storage_bucket": "tu-proyecto-firebase.appspot.com"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:123456789012:android:abc123def456ghi789",
        "android_client_info": {
          "package_name": "com.zerver.ec2control"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "tu-clave-api-aqui"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
